<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ordo</title>
  <meta name="description" content="An application to recommend new movies based on tweets">
  <meta name="author" content="Shawn Jaffe, Ramy Farah, Joshua Truong, and Ishan Kumar">

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="home.html">Home</a></li>
      <li><a href="ratings.html">Ratings</a></li>
    </ul>
  </nav>


    <!-- Text -->
    <h1>Home Page</h1>
</body>
</html>